TrenchBroom
src/game/release
src/game/ReleaseAXP
src/client
src/baseq2
src/ctf
src/irix
src/linux
src/null
src/qcommon
src/ref_gl
src/ref_soft
src/rhapsody
src/server
src/solaris
src/unix
src/win32
maps
*.obj
*.dsw
*.dsp
*.lib
*.lnk
*.pch
*.idb
*.plg
*.exp
*.lib
*.sbr
*.prt
*.idb
*.001
*.plg
*.opt
*.ncb
*.mak
*.bcp
*.bce
*.pak